
@{
    ViewBag.Title = "_Deneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>_Deneme</title>
</head>
<body>

<div>
    Burası Layout
</div>
    
<div>
    @RenderBody(); <!--Razer syntax : html içinde kod kleyebilmemiz için et işareti koyarız-->
</div>
</body>
</html>